*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



        <!----- cart item details ----------------->


    .cart-container{
         max-width: 1300px;
         margin: auto;
    }


            .cart-page{
                margin: 80px auto;
            }
            table{

                width:100%;
                border-collapse: collapse;
                margin-bottom: 20px;
                white-space: nowrap;
             }




            .cart-info{
                display: flex;
                flex-wrap: wrap;

            }


            th{
               text-align:  left;
               color: #ffffff;
               background: #B0E0E6;
               font-size: 25px;
               font-wegiht: normal;
            }
            td button{
                width:1px;
                height:30px;
                padding: 5px;
                background: #fff;
                }
            td{
                padding: 10px 5px;
                }
            td input{
                width:50px;
                height: 50px;
                padding: 5px;
                }
            td a{
                color: #ff523b;
                font-size:12px;
            }
            td img{
                width: 80px;
                height: 80px;
                margin-right: 10px;
                }

            .total-price{
             display: flex;
             justify-content: flex-end;
             }

             .total-price table{
             border-top: 3px solid #ff523b;
              width: 100%;
              max-width: 350px;
              }

            .btn{
            color: white;
            background: none;
            padding: 5px;
            margin: 5px;
            border: none;
            border-radius: 0px
            bottom: 30px;
            }

            .btn:hover{
                background: none;
            }


        .check-out-btn{
             display: flex;
             justify-content: flex-end;
             }
            .check-out{
                display: inline-block;
                background: #2a53ef;
                color: #fff;
                padding: 8px 30px;
                border-radius: 30px;
                transition: background 0.5s;
                 width:100%;
                 max-width:350px;
                border-collapse: collapse;
               margin-bottom: 20px;
               white-space: pre-line;


            }

            .check-out:hover{
                          background: #343e56;
                      }
